@font-face {
    font-family: cocaColaFont;
    src: url(../assets/fonts/loki_cola/LOKICOLA.TTF)
}

html {
      height: 100%;
}

body {
      display: flex;
      flex-direction: column;
      min-height: 100%;
}

.row {
      max-width: 100%;
      margin-left: 0px;
      margin-right: 0px;
}

.main_contents {
      margin-top: 70px;
      margin-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
}

#img_one {
      background-image: url(../assets/images/carousel_images/slide_1_default.png);
}

#img_two {
      background-image: url(../assets/images/carousel_images/slide_2_default.png);

}

.carousel_image{
      margin-top: 0;
      height: 864px;
      width: 100%;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
}

.main_text {
      margin: 5%;
      width: 90%;
      display: block;
      padding: 10px;
      padding-top: 5px;
      max-width: 68%;
      color: rgb(255, 255, 255);
}

#main_text h2 {
      font-size: 22px;
      margin-top: 0px;
      margin-bottom: 5px;
      font-weight: 700;
}

#main_text h3{
      font-size: 15px;
      margin-top: 5px;
      margin-bottom: 5px;
}

#our_brands_header, #modelTitle {
      padding-top: 20px;
      padding-bottom: 20px;
      font-weight: 700;
      text-align: center;
}

p {
      font-family: proxima-nova, sans-serif;;
      color: rgb(76, 76, 76);
}

h1, h2, h3, h4, h5, h6 {
      font-family: proxima-nova, sans-serif;
}

.btn-outline-primary {
      color: #000000;
      margin-top: 10px;
      margin-bottom: 10px;
      border-color: #000000;
}

.btn-outline-primary:hover {
      background-color: red;
      border-color: red;
}

.card.borderless {
      border-width: 0px;
}

.card {
      border-width: 1px;
      margin-top: 0px;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      /* margin-bottom: 10px; */
      /* background-color: rgb(255, 255, 255); */
      font-size: 13px;
      text-align: center;
  } 

.card.description {
      border-top: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      margin-bottom: 10px;
      line-height: 30px;

}

.card #gallery {
      margin-bottom: 20px;
      margin-left: 10px;
      /* margin-right: 10px; */
}

.card-title.bigger {
      font-size: 16px;
}

.card.about {
      margin-top: 10px;
      text-align: left;
      color: rgb(51, 50, 50);
}

.home_card_img {
      padding-left: 40px;
      padding-right: 40px;
}

#image_gallery {
      columns: 6;
      display: inline-flex;
}

.img-thumbnail {
      border: 0px;
      max-height: 150px;
}

#viewer_3d {
      margin-top: 0px;
      border-width: 0px;
}



.x3dom-canvas {
      cursor: grab;
      height: 400px;
      width: 90%;
      background-color: #ffffff;
}

.x3dom-canvas-mousedown {
      cursor: grabbing;
}

.logo {
      margin-top: 3px;
}

.logo h1{
      font-family: cocaColaFont;
      font-size: 31px;
      margin: 0;
      margin-top: -10px;
      margin-bottom: -15px;
      float: left;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 3px;
}

.logo h2{
      font-family: cocaColaFont;
      font-size: 31px;
      margin-top: -6px;
      margin-bottom: -15px;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 3px;
      float: left;
}

.logo h3 {
      font-size: 22px;
      margin-top: -4px;
      margin-bottom: -5;
      padding-top: 0px;
      padding-left: 0px;
}

.logo p {
      font-size: 9px;
      margin-top: -5px;
      margin-bottom: -30px;
      margin-left: -0px;
      padding-top: 0px;
      padding-left: -3px;
      color: rgb(255, 255, 255);
}

#fixed_navbar {
      margin-bottom: auto;
      position: static;
      margin-top: 5px
}

#navbar_coca_cola {
      background-color: #000000;
      min-height: 70px;
}

#navbar_coca_cola .navbar-brand {
      color: rgb(255, 255, 255);
}

#navbar_coca_cola .navbar-brand:hover, .nav-link.active:hover {
      color: rgb(255, 0, 0);
}


#navbar_coca_cola .navbar-nav > li > a {
      color: white;
}

#navbar_coca_cola .navbar-nav > li > a:hover{
      color: rgb(255, 0, 0);
}

#navbar_coca_cola .navbar-nav .nav-item {
      margin-top: 0px;
}

.navbar-toggler-icon {
      --bs-navbar-toggler-icon-bg: url(
  "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon:hover {
      --bs-navbar-toggler-icon-bg: url(
  "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='red' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
      font-family: proxima-nova, sans-serif;
}

.dropdown-menu {
      text-align: -webkit-left;
      background-color: #000000;
}

.dropdown-menu .dropdown-item {
      color: #ffffff;
      font-family: proxima-nova, sans-serif;
}

.dropdown-menu .dropdown-item:hover {
      color: #ff0000;
      background-color: #000000;
}

.footer {
      margin-top: auto;
      background-color: #000000;
      height: 50px;
      position:static;
      bottom: 0px;
      width: 100%;
}

.copyright {
      font-family: proxima-nova, sans-serif;
      color: rgb(53, 53, 53);
}

.fa-brands {
      font-size: 20px;
      color:rgb(255, 255, 255); 
      padding:3px
}

.fa-brands:hover {
      color: red;
}

#aboutPage {
      max-width: 95%;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

      #img_one {
            background-image: url(../assets/images/carousel_images/slide_1_small.png);
      }
      #img_two {
            background-image: url(../assets/images/carousel_images/slide_2_small.png);
      }
 
      .carousel_image {
            height: 320px;
            margin-top: 7%;
      }
      .main_contents {
            margin-top: 0px;
            margin-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
      }
      .image_gallery {
            columns: 6;
      }
      #modelTitle {
            padding-top: 80px;
      }

      .x3dom-canvas {
            width: 350px;
      }

      #aboutPage {
            padding-top: 80px;
      }
 }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

      #img_one {
            background-image: url(../assets/images/carousel_images/slide_1_medium.png);
      }
      #img_two {
            background-image: url(../assets/images/carousel_images/slide_2_medium.png);
      }
      .carousel_image {
            height: 350px;
            margin-top: 8%;
      }

      #modelTitle {
            padding-top: 80px;

      }

      .x3dom-canvas {
            width: 450px;
      }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
      #img_one {
            background-image: url(../assets/images/carousel_images/slide_1_large.png);
      }
      #img_two {
            background-image: url(../assets/images/carousel_images/slide_2_large.png);
      }

      .carousel_image {
            height: 500px;
            margin-top: 6%;
      }

      #main_text {
            padding-top: 60px;
            max-width: 50%;

      }
      #main_text h2 {
            font-size: 45px;
            line-height: 60px;

      }
      
      #main_text h3{
            font-size: 20px;
            max-width: 75%;
      }

      #modelTitle {
            padding-top: 100px;
      }

      .x3dom-canvas {
            width: 550px;
      }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
      #img_one {
            background-image: url(../assets/images/carousel_images/slide_1_xlarge.png);
      }
      #img_two {
            background-image: url(../assets/images/carousel_images/slide_2_xlarge.png);
      }

      .carousel_image {
            height: 600px;
            margin-top: 4%;
      }
      .x3dom-canvas {
            width: 750px;
      }
 }
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
      #img_one {
            background-image: url(../assets/images/carousel_images/slide_1_xxlarge.png);
      }
      #img_two {
            background-image: url(../assets/images/carousel_images/slide_2_xxlarge.png);
      }
      .carousel_image {
            height: 820px;
            margin-top: 3%;
      }
      #main_text {
            padding-top: 100px;
            max-width: 50%;

      }
      #main_text h2 {
            font-size: 55px;
            line-height: 60px;

      }
      #main_text h3{
            font-size: 25px;
            margin-top: 5px;
            margin-bottom: 5px;
            max-width: 75%;
      }
      .x3dom-canvas {
            width: 900px;
      }
}